@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Pushster&display=swap');
/* Default styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    display:flex;
    flex-direction: column;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}
.light{
    background-color:#ddd;
    color:#121212;
}
section{
    scroll-snap-align: start;
}
.container{
    width:90%;
    /* background-color: blueviolet; */
    margin:0 auto;
    padding:1rem;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-header{
    font-size:2.5rem;
    font-family: 'Pushster', cursive;
    line-height: 2.5rem;
}

.section-text>p{
    color:#fff;
}
p{
    text-align:justify;
    
}
hr{
    width:20%;
    margin:0 auto 1.5rem auto;
}
.hamburger{
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2){
    opacity:0;
}
.hamburger.active .bar:nth-child(1){
    transform:translateY(8px) rotate(45deg)
}
.hamburger.active .bar:nth-child(3){
    transform:translateY(-8px) rotate(-45deg)
}
.bar{
    display:block;
    width:23px;
    height: 2px;
    background: #fff;
    margin:0.3rem auto;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
/* Default styles */

/* HEADER STYLES */
header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background-color: #272727;
    transition: 1s ease-in-out;
}
.navbar{
    min-height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    position: absolute;
    left:-100%;
    top:70px;
    display:flex;
    flex-direction: column;
    gap:30px;
    width:100%;
    height:fit-content;
    text-align:center;
    transition:0.4s;
    background-color: #272727;
    padding:0.8rem 0;
    z-index:3;
}
.nav-menu > li > a{
    color:#fff;
}
.nav-menu.active{
    left:0;
}

/* END OF HEADER STYLES */

/* BANNER SECTION */
.banner-section{
    width:100%;
    height:fit-content;
    margin:0 auto;
    background-color: #1E1E1E;
}

.banner-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
}
.banner-container img#ironman{
    width:250px;
    height: 250px;
    margin-top: 5rem;
}
.banner-text h1{
    font-size:2rem;
}
.banner-text h3,.banner-text p{
    color:rgb(189, 189, 189);
    text-align: center;
    margin:0.8rem 0 0.8rem 0;
}
/* END OF BANNER SECTION */

/* ABOUT SECTION */
.about-container{
    width:90%;
    height:fit-content;
    margin:4rem auto;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#about-header{
    color:#FF914D;
}
.about-container img#blackpanther{
    margin:1rem 0 1rem 0;
}
/* END OF ABOUT SECTION */

/* SKILLS CONTAINER */
.skills-container{
    width:90%;
    height:fit-content;
    margin:4rem auto;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#skills-header{
    color:#7ED957;
}

#spiderman{
    width:150px;
    height:150px;
    margin:3rem 0 1rem 0;
}

#skills-text{
    width:60%;
    position: relative;
}
.line{
    margin-bottom: 15px;
    position: relative;
    color:#fff;
    /* background-color: darkcyan; */
}
.info{
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* background-color: lightseagreen; */
}
.info span{
    font-size: 16px;
}
.rate{
    background-color: lightgrey;
    height:5px;
    width:100%;
    position: relative;
}
.rate::before{
    content:'';
    position: absolute;
    left:0;
    height:100%;
    /* background-color: crimson; */
}
.html::before{
    background-color:#F06529 ;
    width:80%;
}
.css::before{
    background-color: #264DE4;
    width:50%;
}
.javascript::before{
    background-color: #EAD41C;
    width:20%;
}
.bootstrap::before{
    background-color: #8b56db;
    width:40%;
}
/* END OF SKILLS CONTAINER */

/* CONTACT SECTION */
.contact-container{
    position: relative;
    width:100%;
    height:fit-content;
    margin:2rem auto;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#contact-mobile{
    /* background-color:#1DA1F2 ; */
    padding-left: 1.5rem;
    margin-left: 1rem;
    align-content: center;
    position: relative;
    width:100%;
}

#contact-header{
    color:#F7DF1E;
}
#groot{
    width:150px;
    height:150px;
    margin:3rem 0 1rem 0;
}
ul#contact-icons{
    width:80%;
    position: relative;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;


}
ul#contact-icons>li>a>i{
    font-size:1.5rem
}
#linkedin{
    color:#2867B2;
}
#linkedin:hover{
    color:#5d93d4;
}
#github{
    color:#fff;
}
#github:hover{
    color:rgb(206, 206, 206);
}
#twitter{
    color:#1DA1F2;
}
#twitter:hover{
    color:#87c0e4;
}
#instagram{
    color: #833AB4;
}
#instagram:hover{
    color: #a266ca;
}
#mail{
    color:#F56040;
}
#mail:hover{
    color:#f1937e;
}

form{
    position: relative;
    width:90%;
    margin:2rem 0;
    display:flex;
    flex-direction: column;
    text-align: start;
    gap:15px;
    color:#ddd;
}
input{
    height:2.5rem;
    border-radius: 10px;
    border:none;
    outline:skyblue;
    padding:1rem;
    font-size:16px;
    line-height: 3px;
    position: relative;
}
textarea{
    outline:skyblue;
    border-radius: 10px;
    padding:1rem;
    font-size:20px;
    position: relative;
}
#submit-btn{
    height:3rem;
    width:5rem;
    font-size:1.2rem;
    border-radius: 10px;
    border:none;
    background-color: #2867B2;
    color:#ddd;
    align-self: center;
    cursor:pointer;
}
#submit-btn:hover{
    background-color:#87c0e4;
    color:#272727;
}
/* END OF CONTACT SECTION */

/* FOOTER SECTION */
footer{
    background-color: #272727;
    position: relative;
    bottom:0;
    left:0;
    height:fit-content;
    width:100%;
}
.footer-details h2,
.footer-details p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.footer-details h2{
    color:#fff;
}
.footer-details p{
    color:rgb(189, 189, 189);
    text-transform: uppercase;
}
#footer-div{
    margin:1rem auto;
    width:50%;
}
/* END OF FOOTER SECTION */

/* DARK & LIGHT MODE STYLES */
/* .label{
    background-color: #383838;
    display:flex;
    justify-content: space-between;
    padding:5px;
    position: fixed;
    align-items:center;
    border-radius:50px;
    width:50px;
    height:26px;
}
.checkbox{
    position:absolute;
    opacity: 0;
}
.checkbox:checked + label{
    background-color: rgb(102, 102, 102);
}
.checkbox:checked + label > .ball{
    background-color: #272727;
    transform: translateX(24px);
}
.uil-moon{
    color:#fccb0a;
}
.uil-sun{
    color:#f39c12;
}
.ball{
    position: absolute;
    top:1px;
    left:1px;
    width:24px;
    height:24px;
    border-radius:50%;
    background-color:#fff;
    transition: transform 0.7s linear; 
}*/
/* END OF DARK & LIGHT MODE STYLES */

/* *********************************************** */
/* *********************************************** */
/* *********************************************** */
/* *********************************************** */

@media screen and (min-width:500px) and (max-width:768px) {
    header{
    
    }
    .banner-section{
        width:100%;
        height:fit-content;
        margin:0 auto;
        background-color: #1E1E1E;
    }
    
    .banner-container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color:rgb(255, 255, 255);
    }
    .banner-container img#ironman{
        width:250px;
        height: 250px;
        margin-top: 7rem;
    }
    .banner-text h1{
        font-size:2rem;
    }
    .banner-text h3,.banner-text p{
        color:rgb(189, 189, 189);
        text-align: center;
        margin:0.8rem 0 0.8rem 0;
    }
    /* ABOUT STYLES */
    .about-container{
        width:70%;
        height:fit-content;
        margin:4rem auto;
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .about-text{
        /* position:relative; */
        width:80%;
    }
    #about-header{
        color:#FF914D;
    }
    .about-container img#blackpanther{
        margin:1rem 0 1rem 0;
    }
    /* END OF ABOUT STYLES */

    /* SKILLS STYLES */
    .skills-container{
        width:70%;
        height:fit-content;
        margin:4rem auto;
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding-bottom: 1.5rem;;
    }
    #skills-header{
        color:#7ED957;
    }
    
    #spiderman{
        width:150px;
        height:150px;
        margin:3rem 0 1rem 0;
    }
    
    #skills-text{
        width:60%;
        /* position: relative; */
    }
    /* END OF SKILLS STYLES */

    /* CONTACT STYLES */
    .contact-container{
        /* position: relative; */
        width:80%;
        height:fit-content;
        margin:2rem auto;
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    #contact-mobile{
        /* background-color:#1DA1F2 ; */
        padding-left: 1.5rem;
        margin:0 auto;
        text-align: center;
        align-content: center;
        /* position: relative; */
        width:80%;
    }
    
    #contact-header{
        color:#F7DF1E;
    }
    #groot{
        width:150px;
        height:150px;
        margin:3rem 0 1rem 0;
    }
    form{
        /* position: relative; */
        width:90%;
        margin:2rem 0;
        display:flex;
        flex-direction: column;
        text-align: start;
        gap:15px;
        color:#ddd;
    }
    input{
        height:2.5rem;
        border-radius: 10px;
        border:none;
        outline:skyblue;
        padding:1rem;
        font-size:16px;
        line-height: 3px;
        /* position: relative; */
    }
    textarea{
        outline:skyblue;
        border-radius: 10px;
        padding:1rem;
        font-size:20px;
        /* position: relative; */
    }
    #submit-btn{
        height:3rem;
        width:5rem;
        font-size:1.2rem;
        border-radius: 10px;
        border:none;
        background-color: #2867B2;
        color:#ddd;
        align-self: center;
        cursor:pointer;
    }
    #submit-btn:hover{
        background-color:#87c0e4;
        color:#272727;
    }
    /* END OF CONTACT STYLES */
}